<?xml version="1.0" encoding="utf-8"?>
<CamBamConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <formstates>
    <state name="ControlWrapper" x="240" y="296" w="911" h="704" state="0">
      <usermetrics />
    </state>
    <state name="ScriptTabView" x="0" y="27" w="1928" h="1043" state="0">
      <usermetrics />
    </state>
    <state name="TransformUIForm" x="297" y="564" w="455" h="308" state="0">
      <usermetrics />
    </state>
    <state name="CamBamMain" x="0" y="27" w="1928" h="1043" state="2">
      <usermetrics>
        <user>257</user>
        <user>534</user>
        <user>355</user>
      </usermetrics>
    </state>
    <state name="ToolpathFilter" x="44" y="44" w="606" h="220" state="0">
      <usermetrics />
    </state>
    <state name="TextPropertyEditorDialog" x="264" y="264" w="838" h="262" state="0">
      <usermetrics />
    </state>
    <state name="PropertyCacheConflictPrompt" x="44" y="44" w="445" h="332" state="0">
      <usermetrics />
    </state>
  </formstates>
  <PropertyGridMetrics>
    <ColumnWidth>150</ColumnWidth>
    <ShowInfo>true</ShowInfo>
    <ShowAdvanced>true</ShowAdvanced>
    <GroupProperties>true</GroupProperties>
    <InfoHeight>83</InfoHeight>
  </PropertyGridMetrics>
  <Language>en</Language>
  <ViewBackColor>50,50,60</ViewBackColor>
  <SelectColor>255,0,0</SelectColor>
  <MarkerColor>255,255,0</MarkerColor>
  <CutWidthColor>0,139,139</CutWidthColor>
  <DefaultLayerColor>127,255,0</DefaultLayerColor>
  <DefaultStockColor>255,165,0</DefaultStockColor>
  <ViewTextColor>255,255,0</ViewTextColor>
  <GridColor>65,65,65</GridColor>
  <ShowGrid>true</ShowGrid>
  <GridInfo_Metric>
    <DrawingUnits>Millimeters</DrawingUnits>
    <Minimum>-50,-50</Minimum>
    <Maximum>50,50</Maximum>
    <MajorScale>10</MajorScale>
    <MinorScale>1</MinorScale>
  </GridInfo_Metric>
  <GridInfo_Inches>
    <DrawingUnits>Inches</DrawingUnits>
    <Minimum>-3,-3</Minimum>
    <Maximum>3,3</Maximum>
    <MajorScale>1</MajorScale>
    <MinorScale>0.0625</MinorScale>
  </GridInfo_Inches>
  <ToolpathLineColor>35,85,205</ToolpathLineColor>
  <ToolpathArcColor>0,220,0</ToolpathArcColor>
  <ToolpathRapidColor>255,69,0</ToolpathRapidColor>
  <ArcDisplayDegrees>2.5</ArcDisplayDegrees>
  <SaveSettingsOnExit>true</SaveSettingsOnExit>
  <TextCurveTolerance>0.5</TextCurveTolerance>
  <SplineToPolylineTolerance>0.001</SplineToPolylineTolerance>
  <SplineCurveSteps>12</SplineCurveSteps>
  <BackfaceCulling>false</BackfaceCulling>
  <ScriptTextStyle>
    <Name>default</Name>
    <color>120,255,180</color>
    <backcolor>0,0,0</backcolor>
    <font>DejaVu Sans;9.75;0</font>
  </ScriptTextStyle>
  <DefaultPostProcessor>Blackbox-X32</DefaultPostProcessor>
  <OutFilePrompt>IfExists</OutFilePrompt>
  <PrintOptions>
    <Margins>
      <Bottom>0</Bottom>
      <Left>0</Left>
      <Right>0</Right>
      <Top>0</Top>
    </Margins>
  </PrintOptions>
  <DefaultScriptEntity>this.Entities.Add(CADUtils.GetCamBamLogo(50 / Unit.GetFactor(doc.DrawingUnits)))</DefaultScriptEntity>
  <Export3DPolylines>false</Export3DPolylines>
  <DefaultDrawingDirectory>/home/steve/SHARE</DefaultDrawingDirectory>
  <ToolpathViewFilter>
    <FilterZDepth>true</FilterZDepth>
    <UseToolpathColor>true</UseToolpathColor>
    <ZDepth>1</ZDepth>
    <ToolpathIndex>47</ToolpathIndex>
    <CutToolpathColor>255,0,0,102</CutToolpathColor>
    <ToolpathColor>255,255,0</ToolpathColor>
    <ToolpathLineWidth>0</ToolpathLineWidth>
  </ToolpathViewFilter>
</CamBamConfig>